body {
  /*background-color: #B8E2F2;*/
  background-image: url("../img/clouds.png");
  font-family: "Trebuchet MS";
}
.name-title {
  text-align: center;
  font-family: monospace;
  font-size: 150%;
  color: pink;
}

.navbar-container {
  background-color: rgb(77, 77, 77);
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  max-width: 1800px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }
}

ul {
  overflow: auto;
}

.center-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-nav,
.page-links,
.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
 .center-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-links a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-links {
  font-size: 1.5em;
}

.page-links li {
  margin: 0 15px; /* Add space between items */
}

.page-links a {
  display: block; /* Use block for better clickability */
  padding: 10px;
  text-decoration: none;
  color: white;
}

.page-links li a:hover {
  color: grey;
  text-decoration: underline;
}

.right-nav {
  margin-left: auto;
  justify-content: flex-end;
}

.social-links a {
  padding: 10px;
}

.social-links {
  display: flex;
}