* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/clouds.png");
  font-family: "Trebuchet MS";
}

.name-title {
  text-align: center;
  font-family: monospace;
  font-size: 150%;
  color: pink;
}

.navbar-container {
  background-color: rgb(77, 77, 77);
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  max-width: 2000px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Updated to space items evenly */
  align-items: center;
  list-style: none;
}

ul {
  overflow: hidden;
}

.center-nav,
.right-nav,
.page-links,
.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-nav ul,
.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-links a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-links {
  font-size: 1.5em;
}

.page-links li {
  margin: 0 15px; /* Add space between items */
}

.page-links a {
  display: block; /* Use block for better clickability */
  padding: 10px;
  text-decoration: none;
  color: white;
}

.page-links li a:hover {
  color: grey;
  text-decoration: underline;
}

.right-nav {
  margin-left: auto; /* Pushes right-nav to the right edge */
}

.social-links a {
  padding: 10px;
}

.social-links {
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .center-nav,
  .right-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .right-nav {
    order: -1; /* Move right-nav to the top */
  }
  
  .page-links li,
  .social-links li {
    margin: 0 10px; /* Adjusted margin for smaller screens */
  }

  .page-links a,
  .social-links a {
    font-size: 1.5em; /* Increased font size for smaller screens */
  }
}