* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/clouds.png");
  font-family: "Trebuchet MS";
}

.name-title {
  text-align: center;
  font-family: monospace;
  font-size: 150%;
  color: pink;
}

.navbar-container {
  background-color: rgb(77, 77, 77);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 1500px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* Updated to space items evenly */
  align-items: center;
  list-style: none;
}

.center-nav,
.right-nav,
.page-links,
.social-links {
  list-style: none;
  text-align: center;
}

.center-nav {
  display: flex;
  flex: 1;
}

.social-links {
  flex: 1;
  justify-content: flex-end;
}

.center-nav ul,
.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-links a {
  display: flex;
}

.page-links {
  font-size: 1.5em;
  display: flex;
}

.page-links li {
  margin: 0 20px; /* Add space between items */
}

.page-links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.page-links li a:hover {
  color: grey;
  text-decoration: underline;
}

.right-nav {
  margin-left: auto; /* Pushes right-nav to the right edge */
}

.social-links a {
  padding: 10px;
}

.social-links {
  display: flex;
}

.social-links img {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  margin-left: 10px; /* Space between icons */
}

@media screen and (max-width: 780px) {
  .navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .center-nav {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .right-nav {
    margin-right: auto;
  }

  .center-nav {
    order: 1;
  }

  .logo-navbar {
    order: -1;
  }

  .right-nav {
    order: 1;
  }

  .page-links li,
  .social-links li {
    margin: 0 10px; /* Adjusted margin for smaller screens */
  }

  .page-links a,
  .social-links a {
    font-size: 1.2em; /* Increased font size for smaller screens */
  }
}

/* start of body css */

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*makes columns 2x2*/
  gap: 10px;
  margin-top: 5rem;
}

.project-container > .projects {
  margin: 2rem;
  padding: 5px;
}

.projects {
  background-color: antiquewhite;
  border-radius: 10px;
}

.projects > h2,
p {
  margin: 15px;
}

@media screen and (max-width: 780px) {
  .project-container {
    grid-template-columns: 1fr; /*stacks into one single column*/
  }
}

/*footer designs*/
.footer {
  color: beige;
  padding: 20px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

.footer-section {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}

.footer-section p {
  margin: 0;
}