body {
  background-color: rgb(193, 228, 233);
}
h1 {
  font-family: Franklin Gothic Medium;
  font-size: 300%;
  text-align: center;
  background-image: url(Hand-in-water.jpg);
  background-size: cover;
}
p {
  font-family: helvetica;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  border-style: none;
}
