body {
  background-color: rgb(193, 228, 233);
}
h1 {
  font-family: monospace;
  font-size: 300%;
  text-align: center;
}
p {
  font-family: helvetica;
  text-align: center;
}

table,
tr,
th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  border-style: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}
li {
  float: left;
  font-family: "Trebuchet MS";
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: grey;
}
