body {
  background-color: #B8E2F2;
}
h1 {
  text-align: center;
  font-family: monospace;
  font-size: 300%;
}
.title{
  text-align: center;
  color:pink;
  font-size: 250%;
  font-family: monospace;

}
dt.center,dd.center{
  font-family: monospace;
  font-size: 150%;
  text-align: left;
}
#projectName{
  font-size: 200%;
  font-family: monospace;
  background-color: rgb(77, 77, 77);
  padding: 10px;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(77, 77, 77);
}
li {
  float: left;
  font-family: "Trebuchet MS";
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: grey;
  text-decoration: underline;
}
